.img_div {
    width: 1000px;
    /* height: 750px; */
    position: relative;
    top: 50%;
    left: 50%;
    margin: 20px;
    padding: 20px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.img-container {
    width: 500px;
    padding: 10px;
}

.img-preview {
    width: 450px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.preview_image_one, .preview_image_two {
    display: none;
    max-width: 100%;
    max-height: 100%;
}

#response {
    width: 1000px;
    height: 800px;
    border: 2px solid black;
    margin-top: 70px;
    margin-left: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.resp_image {
    max-width: 100%;
    max-height: 100%;
}

form {
    margin-top: 10px;
    background: #ccc;
    padding: 20px;
    border: 1px solid black;
}

form label {
    background-color: #7f9ccb;
    padding: 5px 10px;
    border: 1px ridge black;
    border-radius: 5px;
    font-size: 0.8rem;
    height: auto;
}
  
input {
    width: 0;
}

.preview {
    background: #eee;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 32px;
}

button {
    background-color: #7f9ccb;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}

.file {
    width: 500px;
    border: 1px solid black;
    top: 100%;
    display: flex;
    position: relative;
}